@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #c6d7eb;
  font-family: "Tilt Neon", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #1868ae;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 50px 20px;
  max-width: 100%;
  width: 800px;
  text-align: center;
}

.joke {
  font-size: 30px;
  line-height: 40px;
  margin: 50px auto;
  max-width: 600px;
}

.btn {
  font-size: 16px;
  background-color: #d9a5b3;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  padding: 14px 40px;
}

.btn:active {
  transform: scale(0.98);
}
.btn:focus {
  outline: 0;
}
